* {
    text-decoration: none;
}

.index {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: center;
    position: relative;
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
}

.index h1 {
    font-size: 1.3rem;
    margin: 1rem;
}

.btn_1 {
    color: black;
    font-family: 'Roboto Slab', serif;
    background-color: indianred;
    border-style: none;
    border-radius: 20px;
    padding: 10px 40px 5px 40px;
    margin: 100px;
    margin-top: 10px;
}

.btn_1 a {
    text-decoration: none;
    color: white;
}


/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000022;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}